<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    
    <add key="IpServer1" value="1.1.1.1"/>
    <add key="IpServer2" value="2.2.2.2"/>
    <add key="ServerPort1" value="1234"/>
    <add key="ServerPort2" value="5678"/>
    
    <add key="LoginSms" value="webapi_user"/>
    <add key="PassSms" value="testpass"/>
    <add key="PhoneNumber" value="500000000"/>
    
    <add key="IntervalInMinutes" value="15"/>
  </appSettings>
</configuration>